.looking-glass
  //%img#main-img{src: "#{@homepage_photo['urls']['regular']}"}
  // %img#main-img{src: asset_url(@homepage_img_url)}

  .container-fluid          
    .row.topher-container
      .col-md-12
        %img.toph-img.visible-toph#botcenter{src: asset_url('mid.JPG') }
        %img.toph-img#topleft{src: asset_url('topleft.JPG')}
        %img.toph-img#topcenter{src: asset_url('topcenter.JPG')}
        %img.toph-img#topright{src: asset_url('topright.JPG')}
        %img.toph-img#centerright{src: asset_url('centerright.JPG')}
        %img.toph-img#centercenter{src: asset_url('centercenter.JPG')}
        %img.toph-img#centerleft{src: asset_url('centerleft.JPG')}
        %img.toph-img#botleft{src: asset_url('botleft.JPG')}
        %img.toph-img#botcenter{src: asset_url('botcenter.JPG')}
        %img.toph-img#botright{src: asset_url('botright.JPG')}
        %img#hulk-smash{src: asset_url('midtouch.JPG')}

    .skills-container
      .skill-section
        %h4 Technical
        Ruby, Rails, Javascript
        %br
        Front-End, UX Design
        %br 
        Automated Testing & eCommerce
        %br
        Whiteboard to SysAdmin

      .skill-section
        %h4 Projects
        = link_to 'Maui New York', 'http://maui.nyc/', target: '_blank'
        %br
        = link_to 'Adventure Local', 'http://advlo.com', target: '_blank'
        %span /
        = link_to 'MotoGuides', 'http://motoguides.com', target: '_blank'
        %br
        = link_to 'scratch.com', 'http://scratch.com', target: '_blank'
        %span /
        = link_to 'DJ Academy', 'http://academy.scratch.com', target: '_blank'
        %span /
        = link_to 'Events', 'http://events.scratch.com', target: '_blank'
        %br
        = link_to 'The Artolution', 'http://artolution.org/', target: '_blank'

      .skill-section
        %h4 Presentations
        = link_to 'Magento Imagine', 'https://prezi.com/lbflimcvbp4g/gemgento/', target: '_blank'
        %br
        = link_to 'SpreeCommerce Conf', 'http://www.slideshare.net/Spark_Solutions/christopher-knight-academy-case-study-open-commerce-conference-2016', target: '_blank'
      



      .skill-section
        %h4 Hobbies
        %span{ class: 'youtube-video', "data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' =>  "https://www.youtube.com/watch?v=-4i7cli7WNA"} Travel 
        %span /
        %span{ class: 'youtube-video', "data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' =>  "https://www.youtube.com/watch?v=yP0Kwl2Fhhw"} Journalism
        %br
        %span{ class: 'youtube-video', "data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' =>  "https://www.youtube.com/watch?v=XptmbFLZlg0"} Skateboarding
        %span /
        %span{ class: 'youtube-video', "data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' =>  "https://www.youtube.com/watch?v=CrjVlYdqlDk"} Snowboarding
        %br
        %span{ class: 'youtube-video', "data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' =>  "https://www.youtube.com/watch?v=UyLlPmQLCtA"} Sky Diving
        %span /
        %span{ class: 'youtube-video', "data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' =>  "https://www.youtube.com/watch?v=qsg1cJt_kZg"} Scuba Diving


